.entity-student{
  > .content{

    padding:10px;
    border:1px solid $dark-grey;
    >.field{

      .field__label{
        width:30%;
        .description{
          font-style:italic;
          font-weight:normal;
        }
      }
    }
    h3{
      margin-top:40px;
    }
    .view-empty{
      font-style:italic;
    }
  }
}