$main: #2e66b1;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  margin-top: 50px;
  margin-bottom: 40px;
  body {
    position: relative;
    margin: 0;
    margin-bottom: 80px;
    margin-top: 50px;
    font-family: sans-serif;
    line-height: 1;
    margin-left: 60px;
    margin-right: 20px;
    .logo {
      position: absolute;
      right: 5px;
      top: -60px;
      width: 170px;
      img {
        width: 100%;
      }
    }
    .logo-small {
      position: fixed;
      right: 25px;
      top: 0;
      width: 170px;
      z-index: -2;
      img {
        width: 100%;
      }
    }
    .student {
      height: 155px;
      margin-left: 340px;
      h3 {
        margin-top: 50px;
        text-transform: uppercase;
        color: $main;
        font-size: 20px;
        margin-left: 20px;
      }
      .field {
        width: 140px;
        font-size: 13px;
        margin-left: 20px;
        margin-bottom: 10px;
        &.field--name-field-name,
        &.field--name-field-last-name {
          display: none;
        }
        .field__label,
        .field__items {
          display: inline-block;
          vertical-align: top;
        }
        .field__label {
          margin-right: 10px;

          .description {
            font-weight: normal;
            color: #555;
            font-style: italic;
            font-size: 10px;
          }
        }
        .field__items {
          color: $main;
        }
      }
    }
    .side {
      .inner {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        text-align: center;
      }
      color: #808284;
      left: -680px;
      position: fixed;
      top: 50%;
      font-size: 8px;

    }
    .footer {
      position: fixed;
      top: 0px;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    h2 {
      font-size: 2.3em;
    }
    .footer {
      bottom: 130px;
      top: auto;
    }
  }

}

$light-grey: #333;

h2 {
  padding: 0px;
  margin-bottom: 30px;
}

div.collapsible {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 50px;
  h3 {
    padding: 0;
    margin: 0;
    display: block;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    page-break-after: avoid;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    background: lighten($main, 20);
    color: white;
    text-transform: uppercase;
  }
}

.pager {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
}

h1 {
  font-size: 22px;
  top: -80px;
  margin-bottom: 10px;
}

.date {
  color: #555;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 12px;
  font-style: italic;
}

.node {
  font-size: 13px;
  .contextual-links-wrapper {
    display: none;
  }

  h2 {
    display: none;
  }
  .field--name-field-status {
    display: none;
  }
  .field.field--name-field-student-reference {
    display: none;
  }
  .field {
    &:not(.field--type-text-long) {
      page-break-inside: avoid;
    }
    width: 100%;
    @include clearfix;
    clear: both;
    padding: 20px 0;
    margin:0;
    > .field__label {
      width: 470px;
      display: block;
      float: left;
      left: 0;
    }
    > .field__items {
      font-weight: bold;
      padding: 0;
      color: $main;
      left: 0;
      padding-left: 0;
      min-height: 50px;
    }

    > .field__items,
    > .field__label {
      vertical-align: top;
    }

    .field__label {
      .label {
        font-weight: bold;

      }
      .description {
        font-style: italic;
        font-size: .9em;
        color: #555;
        margin-top: 2px;
      }
    }
    &.field--type-text-long,
    &.field--label-hidden {
      margin-bottom: 30px;
      border-top: none;
      .field__label {
        width: 100%;
        display: block;
        float: none;
      }
      .field__items {
        width: 100%;
        font-weight: normal;
        margin: 0;
        margin-top: 10px;
        display: block;

      }
    }
    .star {
      font-size: 40px;
      font-weight: bold;
      color: #ddd;
      &.highlighted,
      &.selected {
        color: $main;
      }
      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }
  .field--name-field-comments-chief-coordinator,
  .field--name-field-observations-coordinator,
  .field--name-field-coordinator-observations-3,
  .field--name-field-coordinator-observations-4,
  .field--name-field-observations-coordinator-2 {
    /* .field__label {
       display: block;
       width: 100%;
       margin-bottom: 15px;
     }
     .field__items {
       width: 100%;
       margin: 0;
       background:lighten($main,20);
       color:white;
       padding: 10px;
       font-style: italic;
       font-weight: normal;
       display: block;
       width: 100%;
     }*/
  }
}

