
dl{
  font-size:1.2em;
  dt{
    a{
      font-size:1.2em;
      padding:10px;
      font-weight:bold;
      display:inline-block;
      text-decoration: none;
      &:hover{
        color:$dark-grey;
      }
    }
  }
  dd{
    margin:.5em 0 2em 1em;
    font-style:italic;
  }
}